<div class="container-fluid">
    <div class="header row">
        <div class="col-md-12"> <span>SpaceX Launch Programs</span></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-filter-view></app-filter-view>
        </div>
        <div class="col-md-9">
            <launch-data-wrapper></launch-data-wrapper>
        </div>
    </div>
    <div class="footer row">
        <div class="col-md-12">
        <span>Developed By:</span>&nbsp;<span>Shuchi Jain</span>
        </div>
    
    </div>
</div>